<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Qsp.Demo4"/>
      <class name="Qsp.Demo3"/>
      <class name="Qsp.Demo2"/>
      <class name="Qsp.Demo1"/>
      <class name="Qsp.Demo6"/>
      <class name="Qsp.Demo5"/>
      <class name="regression.demo1"/>
      <class name="Qsp.RunnerScript"/>
      <class name="functional.demo2"/>
      <class name="regression.demo2"/>
      <class name="functional.demo1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
